boto3==1.17.86
setuptools==53.0.0
pytest==6.2.2
pytest_bdd==4.0.2
pytest_html==3.1.1
pytest-cov==2.12.1
cfn_flip==1.2.3
sttable==0.0.1
pynamodb==5.0.3
pytest-parallel==0.1.0
flake8==3.9.2
pytest-incremental==0.6.0
pytest-custom_exit_code==0.3.0 #Exit pytest test session with no error code if there are no tests to run
jsonpath-ng==1.5.2 #Implementation of JSONPath for Python
pytest-repeat==0.9.1 #Repeat a single test, or multiple tests, a specific number of times.
pip-check==2.6 #Quick overview of all installed packages and their update status
botocore~=1.20.47
Mako==1.1.4 #Template library written in Python
parameterized==0.8.1 #Allow to use annotations with arguments to test
requests==2.25.1
websocket-client==1.0.1
pytest-icdiff==0.5 #Better diffs in pytest assertion error messages
pytest-socket==0.4.0 #Restrict socket calls during unit tests to prevent actions with AWS resources if a mock is not created properly
pytest-timeout==1.4.2 #Kills tests if they went to inginite loop
pytest-randomly==3.8.0 #Make sure that all unit tests are isolated and does not affect the system state
pytest-deadfixtures==2.2.1 #List unused or duplicated fixtures in a pytest suite
pytest-clarity==0.3.0a0 #Improve the readability of pytest output.
pytest-rerunfailures==10.0 #Re-run multiple times once faied tests to eliminate intermittent failures
