# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=efs
TEST_COUNT=2
TEST_WORKERS=4
TEST_POOL_SIZE=EfsTemplate=4
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# For more that 1 test targets use space on the one line between them
TEST_TARGETS=documents/docdb/sop/create_new_instance/2020-09-21/Tests/step_defs/test_create_new_instance.py
