# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=ecs
TEST_COUNT=2
TEST_WORKERS=4
TEST_POOL_SIZE=ECSEC2Template=4
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# For more that 1 test targets use space on the one line between them
TEST_TARGETS=documents/ecs/sop/scale_service/2020-04-01/Tests/step_defs/test_scale_service.py
