# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=sqs
TEST_COUNT=2
TEST_WORKERS=4
TEST_POOL_SIZE=SqsTemplate=4
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# For more that 1 test targets use space on the one line between them
TEST_TARGETS=documents/sqs/sop/move-messages-between-queues/2021-03-11/Tests/step_defs/test_move_messages_between_queues_usual_cases.py::test_move_messages_from_standard_queue_to_standard documents/sqs/sop/move-messages-between-queues/2021-03-11/Tests/step_defs/test_move_messages_between_queues_usual_cases.py::test_move_messages_from_standard_queue_to_standard_with_a_lot_of_messages
