# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=athena
TEST_COUNT=1
#TEST_COUNT=10 -x
TEST_WORKERS=1
TEST_POOL_SIZE="AthenaTemplate={ON_DEMAND:1,DEDICATED:1}"
# TEST_POOL_SIZE=AthenaTemplate={ON_DEMAND:1}
# Can be empty if you want to execute all tests
 TEST_TARGETS=
# TEST_TARGETS= documents/athena/alarm
