# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=kinesis-analytics
TEST_COUNT=10 -x
TEST_WORKERS=1
TEST_POOL_SIZE="KinesisAnalyticsTemplateFlink={ON_DEMAND:1,DEDICATED:1}"
# TEST_POOL_SIZE=KinesisAnalyticsTemplateSQL={ON_DEMAND:1}
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# TEST_TARGETS= documents/kinesis-analytics/alarm
TEST_TARGETS=documents/kinesis-analytics/sop/data_analytics_restore_app_from_snapshot/2021-07-28/Tests/step_defs/test_data_analytics_restore_app_from_snapshot_latest.py