# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=api-gw
TEST_COUNT=2
TEST_WORKERS=1
TEST_POOL_SIZE=RESTAPIGWTemplate=1
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# For more that 1 test targets use space on the one line between them
TEST_TARGETS=documents/api-gw/sop/change_quota_limit/2020-10-26/Tests/step_defs/test_change_quota_limit.py
