# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=redshift
TEST_COUNT=2
TEST_WORKERS=1
TEST_POOL_SIZE="RedshiftTemplate={ON_DEMAND:1,DEDICATED:1}"
# Can be empty if you want to execute all tests
# TEST_TARGETS=
# For more that 1 test targets use space on the one line between them
TEST_TARGETS=documents/redshift/alarm/cluster_health_status/2020-04-01/Tests/step_defs/test_redshift_cluster_health_status.py
