# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=elb
TEST_COUNT=1
TEST_WORKERS=1
TEST_POOL_SIZE=ElbTemplate=1
# Can be empty if you want to execute all tests
# TEST_TARGETS=