# Copy that file to exec-vars.env and specify your values to avoid collisions between teammates
SERVICE=elb
TEST_COUNT=1
TEST_WORKERS=1
TEST_POOL_SIZE=ElbTemplate={ON_DEMAND:1}
# Can be empty if you want to execute all tests
# TEST_TARGETS=
EST_TARGETS=documents/elb/test/network_gw_lb_target_unavailable/2020-04-01/Tests/step_defs/test_network_gw_lb_target_unavailable.py